Package: com.explodemode.openinlatestchatty
Name: Open in Latest Chatty
Depends: mobilesubstrate, ws.hbang.libopener, firmware (>=3.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Open links to Shacknews commments in Latest Chatty.
Maintainer: Explode Mode <dev@explodemode.com>
Author: Explode Mode <dev@explodemode.com>
Section: Tweaks
